<!--
<div class="process-admin">
  <h2>Administrador de Procesos</h2>
  <form (ngSubmit)="guardar()" class="form-proceso">
    <input [(ngModel)]="procesoActual.nombre" name="nombre" placeholder="Nombre" required />
    <input [(ngModel)]="procesoActual.processKey" name="processKey" placeholder="Key" required />
    <textarea [(ngModel)]="procesoActual.descripcion" name="descripcion" placeholder="Descripción"></textarea>
	<div>
		<input
          [(ngModel)]="nuevaPalabra"
          
          placeholder="Agregar palabra clave"
        />

        <button type="button" (click)="agregarPalabraClave()">+</button>
    </div>
   
    <div class="form-group">
      <label>Palabras clave asociadas:</label>
      <div class="chips">
        <span class="chip" *ngFor="let palabra of procesoActual.palabrasClave">
          {{ palabra }}
          <button type="button" (click)="quitarPalabraClave(palabra)">x</button>
        </span>
      </div>
    </div>

    <button type="submit">{{ procesoActual.id ? 'Actualizar' : 'Crear' }}</button>
    <button type="button" (click)="limpiar()">Limpiar</button>
  </form>

  <div *ngIf="mensaje" class="mensaje-ok">{{ mensaje }}</div>


  <h3>Procesos existentes</h3>
  <mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Key</th>
        <th>Descripción</th>
        <th>Palabras clave</th>
        <th>Acciones</th>
		<th>Campos obligatorios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proceso of procesos">
        <td>{{ proceso.nombre }}</td>
        <td>{{ proceso.processKey }}</td>
        <td>{{ proceso.descripcion }}</td>
        <td>
          <span *ngFor="let palabra of proceso.palabrasClave" class="chip-table">{{ palabra }}</span>
        </td>
        <td>
          <button (click)="seleccionar(proceso)">Editar</button>
          <button (click)="eliminarProceso(proceso.id)">Eliminar</button>
        </td>
		<td>
          <button mat-button color="primary" (click)="abrirDrawer(proceso)">
            <mat-icon>rule</mat-icon>
            Campos obligatorios
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-sidenav #drawer mode="side" position="end" [(opened)]="drawerAbierto" class="drawer-campos">
    <h3>Campos obligatorios para {{ procesoDrawer?.nombre }}</h3>
    <app-campo-obligatorio-admin
      *ngIf="procesoDrawer?.id"
      [procesoId]="procesoDrawer.id">
    </app-campo-obligatorio-admin>
    <button mat-stroked-button color="accent" (click)="cerrarDrawer()">Cerrar</button>
  </mat-sidenav>
</mat-sidenav-container>
</div>

<app-campo-obligatorio-admin *ngIf="procesoActual.id != null" [procesoId]="procesoActual.id"></app-campo-obligatorio-admin>

-->
<div class="process-admin">
  <h2>Administrador de Procesos</h2>
  <form (ngSubmit)="guardar()" class="form-proceso">
    <input [(ngModel)]="procesoActual.nombre" name="nombre" placeholder="Nombre" required />
    <input [(ngModel)]="procesoActual.processKey" name="processKey" placeholder="Key" required />
    <textarea [(ngModel)]="procesoActual.descripcion" name="descripcion" placeholder="Descripción"></textarea>
    <div>
      <input
        [(ngModel)]="nuevaPalabra"
        placeholder="Agregar palabra clave"
      />
      <button type="button" (click)="agregarPalabraClave()" class="btn-orange btn-plus">+</button>
    </div>
    <div class="form-group">
      <label>Palabras clave asociadas:</label>
      <div class="chips">
        <span class="chip" *ngFor="let palabra of procesoActual.palabrasClave">
          {{ palabra }}
          <button type="button" (click)="quitarPalabraClave(palabra)">x</button>
        </span>
      </div>
    </div>
	<div class="botones-form">
		<button type="submit" class="btn-orange">{{ procesoActual.id ? 'Actualizar' : 'Crear' }}</button>
		<button type="button" (click)="limpiar()" class="btn-orange">Limpiar</button>
	</div>
  </form>

  <div *ngIf="mensaje" class="mensaje-ok">{{ mensaje }}</div>


  <h3>Procesos existentes</h3>
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <table [class.ajustada]="drawerAbierto">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Key</th>
            <th>Descripción</th>
            <th>Palabras clave</th>
            <th>Acciones</th>
            <th>Campos obligatorios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proceso of procesos">
            <td>{{ proceso.nombre }}</td>
            <td>{{ proceso.processKey }}</td>
            <td>{{ proceso.descripcion }}</td>
            <td>
              <span *ngFor="let palabra of proceso.palabrasClave" class="chip-table">{{ palabra }}</span>
            </td>
            <td>
              <button (click)="seleccionar(proceso)">Editar</button>
              <button (click)="eliminarProceso(proceso.id)">Eliminar</button>
            </td>
            <td>
              <button mat-button color="primary" (click)="abrirDrawer(proceso)">
                <mat-icon>rule</mat-icon>
                Campos obligatorios
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-sidenav-content>
    <mat-sidenav #drawer mode="side" position="end" [(opened)]="drawerAbierto" class="drawer-campos">
      <h3>Campos obligatorios para {{ procesoDrawer?.nombre }}</h3>
      <app-campo-obligatorio-admin
        *ngIf="procesoDrawer?.id"
        [procesoId]="procesoDrawer.id">
      </app-campo-obligatorio-admin>
      <button class="cerrar-btn" mat-stroked-button color="accent" (click)="cerrarDrawer()">Cerrar</button>
    </mat-sidenav>
  </mat-sidenav-container>
</div>



